
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: 'NotoSans-Bold';
  src: url(./font/NotoSans-Bold.ttf);
}
@font-face {
  font-family: 'NotoSans-Regular';
  src: url(./font/NotoSans-Regular.ttf);
}

body {
  font-family: 'NotoSans-Regular';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  display: block;
  text-decoration: none;
}

ul, li{
  list-style: none;
  padding: 0;
}